<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boda de Tania y Antonio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function updateCountdown(weddingDate) {
            const countdown = document.getElementById('countdown');
            const now = new Date().getTime();
            const distance = weddingDate - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            countdown.innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;

            if (distance < 0) {
                clearInterval(x);
                countdown.innerHTML = "¡Ya es el día de la boda!";
            }
        }

        function openInvitation() {
            document.getElementById('details').style.display = 'block';
            document.getElementById('open-button').style.display = 'none';
            document.getElementById('nav-bar').style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const weddingDate = new Date('{{ wedding_date }}').getTime();
            setInterval(() => updateCountdown(weddingDate), 1000);
        });
    </script>
</head>
<body>
    <nav id="nav-bar" style="display:none;">
        <ul>
            <li><a href="#details">Nos Casamos</a></li>
            <li><a href="#wedding-details">Cuando y Dónde</a></li>
            <li><a href="#gift-table">Mesa de Regalos</a></li>
            <li><a href="#rsvp">Confirmación</a></li>
        </ul>
    </nav>
    <div class="invitation">
        <h1>Tania y Antonio te invitan a su boda</h1>
        <button id="open-button" class="button" onclick="openInvitation()">Abrir invitación</button>
        <div class="countdown" id="countdown"></div>
        <div id="details" style="display:none;">
            <div id="wedding-details" class="section">
                <h2>Detalles de la Boda</h2>
                <p>Fecha: 30 de noviembre</p>
                <p>Ceremonia Religiosa: Templo de Santa Rosa de Viterbo</p>
                <p>Hora: 16:00hrs</p>
                <p>Recepción: Hacienda los Albos</p>
                <p>Hora: 18:30hrs</p>
                <p class="subtitle">Código de vestimenta: Formal</p>
                <p>Mesa de regalos: Liverpool, Número de evento: 52379919</p>
                <p>Sin niños</p>
            </div>
            <div class="section">
                <h2>Ubicaciones</h2>
                <p><a href="https://maps.app.goo.gl/sLMyshjNGuv8tZYm8?g_st=iw" target="_blank">Hacienda los Albos</a></p>
                <p><a href="https://maps.app.goo.gl/PB3eyRpE9JPutfSV7?g_st=iw" target="_blank">Templo de Santa Rosa de Viterbo</a></p>
            </div>
            <div class="section">
                <h2>Nuestros Padres</h2>
                <p>Padres de la novia: Maria Guadalupe Rodriguez Lopez y Jose Luis Bringas Flores</p>
                <p>Padres del novio: Silvia L Vallejo Figueroa y Antonio Becerra Reyes</p>
            </div>
            <div class="section">
                <h2>Padrinos</h2>
                <p>Erika Alvarez Cruz y Daniel Becerra Vallejo</p>
            </div>
            <div class="section">
                <h2>Frase Especial</h2>
                <p>El amor de estas dos bellas personas, se puede resumir en la letra de esta canción:</p>
                <p>"And if a double decker bus, crashes into us, to die by your side is such a heavenly way to die."</p>
            </div>
            <div id="rsvp" class="section">
                <h2>Confirmación</h2>
                <form action="/rsvp" method="post">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="attending">Asistirás:</label>
                    <select id="attending" name="attending">
                        <option value="yes">Sí</option>
                        <option value="no">No</select>
                    <button type="submit" class="button">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
